@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: Noto Sans JP , sans-serif;
}
body{
    background-color: #009aff;
    height: 1400px;
}
section{
width: 100%;
height: 100vh;
background: url("https://i.postimg.cc/kg9xkYPM/mountains-1587287-480.jpg");
background-size:100% 100vh;
background-attachment: fixed;
clip-path: polygon(50% 0%, 100% 0%,100% 29%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0 );
display: flex;
align-items: center;
justify-content: center;
}
section::before{
    content: '';
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top left, #ff00cbad, #ac00ffad);
    position: absolute;
    background-attachment: fixed;
}
.content{
    position: relative;
    color: white;
    text-align: center;
    padding: 5vw;
}
.p1{
 font-size:1em;
}
h1{
    font-size: 2em;
};
a{
    position: relative;
    color: white;
    top: 10vw;
    background-color: red;
    text-decoration: none;
    padding: 2px 10vw;
    border-radius: 30px;
}
.p2{
    letter-spacing: px;
    word-spacing: px;
    text-align: justify;
    padding: 30px;
    font-family: 'Roboto Mono',monospace;
    color: black;
    text-align: center;
}
H2{
    text-align: center;
    font-family: 'Roboto Mono',monospace;
    position: relative;
    top: 20px;
    color: white;
}

